<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/Styless.css" />

    <title>Realmyfit | Fitness</title>
  </head>
  <body>
    <nav>
      <div class="nav__banner-fullwidth">
  <div class="nav__logo">
    <a href="Principal.html"><img src="img/Black_and_Blue_Illustrative_Health_and_Fitness_Sporting_Club_Logo-removebg-preview.png" alt="logo" /></a>
  </div>

    
  <ul class="nav__links">
    <li class="link"><a href="Principal.html">Inicio</a></li>
    <li class="link"><a href="../Eventos/eventos.html">Eventos</a></li>
    <li class="dropdown">
      <a href="">Servicios</a>
      <div class="dropdown-content">
        <a href="../Servicios/Membresias/Membresias.html">Membresía</a>
        <a href="../Servicios/Productos/Productos.html">Productos</a>
        <a href="../Servicios/Entrenadores/entrenadores.html">Entrenadores</a>
        <a href="../Servicios/Maquinas/maquinas.html">Máquinas</a>
      </div>
    </li>
    <li class="link"><a href="../Reseñas/reseñas.html">Reseñas</a></li>
    <li class="link"><a href="../Contacto/index.html">Contacto</a></li>
  </ul>
  <a href="../login/Index.html"><button class="btn">Iniciar Sesion</button></a>
  </div>
</nav>

    <header class="section__container header__container">
      <div class="header__content">
        <span class="bg__blur"></span>
        <span class="bg__blur header__blur"></span>
        <h4>EL MEJOR GIMNACIO DE LA CIUDAD
</h4>
        <h1><span>MOLDEA</span> TU CUERPO AHORA</h1>
        <p>
          Libera tu potencial y emprende un viaje hacia una versión más fuerte, 
          en forma y segura de ti mismo
          ¡Inscríbete ahora en "REALMYFIT"
           y sé testigo de la increíble transformación 
           que tu cuerpo es capaz de lograr!
        </p>
        <button class="btn2">¡Iniciar ahora!</button>
      </div>
      <div class="header__image">
        <img src="img/Season 1 Gym GIF by Rick and Morty.gif" alt="header" />
      </div>
    </header>
 <section class="section__container class__container">
      <div class="class__image">
        <span class="bg__blur"></span>
        <img src="img/equipos-gimnasio-gimnasio_23-2147949744.avif" alt="class" class="class__img-3" />
       
      </div>
      <div class="class__content2">
        <h2 class="section__header">Nuestra Familia Fit</h2>
        <p>

En nuestro gimnasio no solo entrenas, te transformas. 
Somos más que pesas y máquinas: somos una comunidad que
 impulsa tu mejor versión. Con entrenadores certificados
 , tecnología de última generación, maquinas de todo tipo y un ambiente motivador, 
te ayudamos a alcanzar tus objetivos físicos y mentales.Sabemos que el verdadero cambio no solo se ve, se siente, y queremos que cada día que vengas,
 salgas mejor que como entraste. ¿Que esperas para unirte a nuestra familia fit?
        </p>

      </div>
    </section>
    <section class="section__container explore__container">
      <div class="explore__header">
        <h2 class="section__header">¿Que ganas con nosotros?</h2>
        <div class="explore__nav">
        
        </div>
      </div>
      <div class="explore__grid">
        <div class="explore__card">
          <span><i class="ri-boxing-fill"></i></span>
          <h4>¡Fuerza!</h4>
          <p>
             
Abrace la esencia de la fuerza mientras profundizamos en sus diversas 
dimensiones: física, mental y emocional. 

          </p>
          
        </div>
        <div class="explore__card">
          <span><i class="ri-heart-pulse-fill"></i></span>
          <h4>¡Aptitud Fisica!</h4>
          <p>
            Aptitud física
Abarca una gama de actividades que mejoran
 la salud, la fuerza, la flexibilidad y el bienestar general.
          </p>
         
        </div>
        <div class="explore__card">
          <span><i class="ri-run-line"></i></span>
          <h4>¡Perdida De Grasa!</h4>
          <p>
          Pérdida de grasa
Mediante una combinación de rutinas de ejercicios y orientación experta,
 te ayudaremos a alcanzar tus objetivos.
          </p>
         
        </div>
        <div class="explore__card">
          <span><i class="ri-shopping-basket-fill"></i></span>
          <h4>Aumento De Peso</h4>
          <p>
           ¡Aumento de Peso!
Diseñado para personas individuales, nuestro programa ofrece un enfoque 
eficaz para ganar peso de forma sostenible.
 </p>
         
        </div>
        
      </div>
    </section>

    <section class="section__container class__container">
      <div class="class__image">
        <span class="bg__blur"></span>
        <img src="img/entrenador_personal.jpg" alt="class" class="class__img-1" />
        <img src="img/Entrenador2.jpg" alt="class" class="class__img-2" />
      </div>
      <div class="class__content">
        <h2 class="section__header">Entrenadores Personales</h2>
        <p>

Dirigida por nuestro equipo de instructores expertos y motivadores,
 la clase que obtendras es una sesión llena de energía y orientada
  a resultados que combina a la perfección cardio, entrenamiento de fuerza
   y ​​ejercicios funcionales. Cada clase está cuidadosamente diseñada para 
   mantenerte motivado, ¿Que esperas para unirte a nuestra familia fitness?
        </p>
       <a href="../Servicios/Entrenadores/entrenadores.html"><button class="btn2">Ver Mas</button></a>
      </div>
    </section>

    <section class="section__container join__container">
      <h2 class="section__header">¿Por Que Nosotros?</h2>
      <p class="section__subheader">
       
Nuestra diversa base de miembros crea un ambiente amistoso y de apoyo, 
donde puedes hacer amigos y mantenerte motivado.
      </p>
      <div class="join__image">
        <img src="img/gente-feliz-en-forma-en-el-gimnasio-tiro-completo.jpg" alt="Join" />
        <div class="join__grid">
          <div class="join__card">
            <span><i class="ri-user-star-fill"></i></span>
            <div class="join__card__content">
              <h4>Entrenadores personales</h4>
              <p>Desbloquea tu potencial con nuestros entrenadores personales.</p>
            </div>
          </div>
          <div class="join__card">
            <span><i class="ri-vidicon-fill"></i></span>
            <div class="join__card__content">
              <h4>Sesiones de practica</h4>
              <p>Mejora tu estado fisico con nuestras sesiones de practica </p>
            </div>
          </div>
          <div class="join__card">
            <span><i class="ri-building-line"></i></span>
            <div class="join__card__content">
              <h4>Buena Gestion</h4>
              <p>SGestión de apoyo para el éxito en tu bienestar físico.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    
<section class="section__container map__container">
  <div class="section__header">
    <h2>Nuestra Ubicación</h2>
    <p class="section__subheader">Visítanos en nuestro gimnasio</p>
  </div>
  
  <div class="map__wrapper">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.446367665901!2d-73.06630437517452!3d5.792450944190317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a406cb68548fd%3A0x1942b3247ca73683!2sCiudadela%20Industrial%2C%20Duitama%2C%20Boyac%C3%A1!5e0!3m2!1ses!2sco!4v1752605930218!5m2!1ses!2sco" 
      width="100%" 
      height="450" 
      style="border:0;" 
    
      allowfullscreen="" 
      loading="lazy" 
      class="map__iframe">
    </iframe>
  </div>
  
  <div class="map__info">
    <div class="info__item">
      <i class="ri-map-pin-fill"></i>
      <p>Calle 3A N24B-80</p>
    </div>
    <div class="info__item">
      <i class="ri-time-fill"></i>
      <p>Lunes a Viernes: 6:00 AM - 10:00 PM</p>
    </div>
    <div class="info__item">
      <i class="ri-phone-fill"></i>
      <p>+57 321 769 0981</p>
    </div>
  </div>
</section>


    <footer class="section__container footer__container">
      <span class="bg__blur"></span>
      <span class="bg__blur footer__blur"></span>
      <div class="footer__col">
        <div class="footer__logo"><img src="img/Black_and_Blue_Illustrative_Health_and_Fitness_Sporting_Club_Logo-removebg-preview.png" alt="logo" /></div>
        <p>
          Da el primer paso hacia una versión más sana y fuerte
           de ti mismo con nuestros planes de precios inigualables.
           ¡Sudemos, logremos y conquistemos juntos!
        </p>
        <div class="footer__socials">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
        </div>
      </div>
      <div class="footer__col">
        <h4>Compañia</h4>
        <a href="#">Negocio</a>
        <a href="#">Franquisias</a>
        <a href="#">Asociasiones</a>
        
      </div>
      <div class="footer__col">
        <h4>Sobre Nosotros</h4>
        <a href="#">Blogs</a>
        <a href="#">Seguridad</a>
        
      </div>
      <div class="footer__col">
        <h4>Contacto</h4>
        <a href="#">Contacta con nosotros</a>
        <a href="#">Politica De Privacidad</a>
        <a href="#">Terminos y Condiciones</a>
       
      </div>
    </footer>
    
    <div class="footer__bar">
      Copyright © 2025 Realmyfit. Todos los derechos reservados.
    </div>
    <script src="Paginainicio.js"></script>
  </body>
</html>